/* Base styles */
body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
  background-color: #f8f9fa;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navbar {
  width: 100%;
  background-color: #343a40;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  font-size: 1.2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-wrapper {
  flex: 1;
}

.logo {
  height: 40px;
  width: auto;
}

nav {
  flex: 3;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-links li a {
  color: azure;
  text-decoration: none;
  font-weight: bold;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.reservation-link-wrapper {
  width: 100%;
  text-align: center;
  background-color: #B6B7AB;
  color: #fff;
  padding: 2em 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reservation-link h1 {
  margin: 0;
  font-family: 'Abhaya Libre', serif;
  font-size: 2.5em;
}

.reservation-form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

.reservation-form {
  width: 50%;
  max-width: 600px;
  background-color: #fff;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reservation-form label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.reservation-form input {
  width: calc(100% - 10px);
  padding: 0.75em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

.reservation-form button {
  width: 100%;
  padding: 0.75em 0;
  background-color: #343a40;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.1em;
  cursor: pointer;
  font-family: 'Amiko', sans-serif;
}

.reservation-form button:hover {
  background-color: #555d66;
}

footer {
  width: 100%;
  background-color: #B5E6DD;
  color: #000000;
  text-align: center;
  padding: 1em 0;
}

.patel-utkarsh-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.patel-utkarsh {
  font-family: 'Amiko', sans-serif;
  font-size: 1.2em;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .reservation-link h1 {
    font-size: 2em;
  }

  .reservation-form {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .nav-links li {
    display: block;
    margin: 0.5em 0;
  }

  .nav-links li a {
    font-size: 1em;
  }

  .reservation-link h1 {
    font-size: 1.5em;
  }

  .reservation-form {
    width: 90%;
  }

  .reservation-form input {
    font-size: 0.9em;
  }

  .reservation-form button {
    font-size: 1em;
  }

  footer {
    font-size: 0.9em;
  }
}
